@model Bai1_th.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-4" style="border: 1px solid grey; border-radius: 10px; background-color:whitesmoke;">
        <img class="ProImg" src="@Url.Content(Model.ImagePath)" />
    </div>
    <div class="col-md-8" style="padding:10px 30px;">
        <h1>@Html.DisplayFor(model => model.NamePro)</h1>
        <h4>MÔ TẢ SẢN PHẨM</h4>
        <p>@Html.DisplayFor(model => model.Description)</p>
        <h4>NHÓM SẢN PHẨM</h4>
        <p>@Html.DisplayFor(model => model.LoaiSanPham.NameCate)</p>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
