@model Bai1_th.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("AuthenLogin", "Register", FormMethod.Post))
{
    <div class="all-login">
        <h2>Đăng nhập</h2>
        <div class="loginArea">
            <table>
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.UserName, new { placeholder = "Username", id = "userName_inp" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.PasswordFor(m => m.PassWord, new { placeholder = "Password", id = "password_inp" })
                        @Html.ValidationMessageFor(m => m.PassWord)
                    </td>

                </tr>
            </table>
        </div>
        <input type="submit" id="btnSubmit" value="Đăng Nhập" />
        <div class="repass">
            <p>Nếu bạn chưa có tài khoản? <a href="@Url.Action("Register", "Register")"> Đăng kí tại đây</a></p>
        </div>
    </div>
}
