@model Bai1_th.Models.User


@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@using (Html.BeginForm("AuthenRegister", "Register", FormMethod.Post))
{
    <div class="all-login">
        <h2>Đăng Ký</h2>
        <div class="loginArea">
            <table>
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.UserName, new { placeholder = "Username" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.PasswordFor(m => m.PassWord, new { placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.PassWord)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.FName, new { placeholder = "First Name" })
                        @Html.ValidationMessageFor(m => m.FName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.LName, new { placeholder = "Last Name" })
                        @Html.ValidationMessageFor(m => m.LName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.Address, new { placeholder = "Address" })
                        @Html.ValidationMessageFor(m => m.Address)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.Phone, new { placeholder = "Phone Number" })
                        @Html.ValidationMessageFor(m => m.Phone)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.DoB, "{0:yyyy-MM-dd}", new { placeholder = "Birth Year", @class = "datepicker" }) <!-- Thêm class datepicker cho việc chọn ngày -->
                        @Html.ValidationMessageFor(m => m.DoB)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                        {
                            new SelectListItem { Text = "Nam", Value = "1" },
                            new SelectListItem { Text = "Nữ", Value = "2" }
                        }, "-- Chọn giới tính --")
                        @Html.ValidationMessageFor(m => m.Gender)
                    </td>
                </tr>
            </table>
        </div>
        <input type="submit" id="btnSubmit" value="Đăng Ký" />
        <p>Nếu bạn đã có tài khoản hãy<a href="@Url.Action("Login", "Register")"> Đăng nhập</a></p>
    </div>
}

<!-- Thêm đoạn script này để kích hoạt datepicker -->
<script>
    $(function () {
        $(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>


